* {
    padding : 0;
    margin : 0;
    text-decoration: none;
}

html, body { 
    scroll-behavior: smooth
  }
  
body {
    background-color : white;
    font-family: Source Sans Pro, sans-serif;
}


header nav ul{
    display : flex;
    justify-content: right;
    flex-direction: row;
}

.nav-top {
    margin-top: 20px;
}

.nav-top a{
    color : black;
    margin : 10px;
    list-style-type: none;
    position : relative;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-family: "Prata", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.nav-top a::after{
   content: '';
   position : absolute;
   transform-origin: bottom left;
   width : 100%;
   height : 0.08rem;
   bottom : 0;
   left : 0;
   background-color: black;
   transition: transform 0.5s ease-in-out;
   transform: scale(0,1);
}

.nav-top a:hover::after {
    opacity : 1;
	transform: scale(1,1);
}

.nav-top h1 {
    color: #A6975D;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
}

.sect {
    margin: auto;
    margin-top: 100px;
    width : 95%;
    background-color: white;
    display : flex;
    flex-direction: row;
}

.sect img {
    border-top-right-radius: 50px;
    max-width: 50%;
}

.corps {
    padding-left: 10px;
    display : flex;
    flex-direction: column;
    color : #002366;
}

.corps a {
    border: none;
    text-align: center;
    margin-left: 15px;
    margin-top: 60px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #FF5733;
    padding: 10px;
    max-width: 130px;
    font-size: 20px;
    color : white;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    opacity: 0.5;
    transition-duration: 0.5s;
    
}

.corps a:hover {
    opacity: 1; /* Augmenter l'opacité au survol */
    transform: scale(1.1); /* Agrandir légèrement le bouton */
}

.sect h1 {
    color : #002366;
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 30px;
}

.jeux {
    display: flex;
    align-content: center;
    background-color: #F0F0F0;
    height :auto;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 0px 15px;
}

.truc1 {
    border-top-right-radius:50px ;
    border-bottom-left-radius:30px ;
}

.truc2 {
    border-top-left-radius:50px ;
    border-bottom-right-radius:30px ;
}

.truc3 {
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px ;
    
}

.sect2 {
    margin: auto;
    margin: 50px;
    width : 95%;
    background-color: white;
    display : flex;
    flex-direction: row;
    background-color: #1B1B1B;
}

.sect2 h1 {
    color : #002366;
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 30px;
}

.sect2 img {
    border-top-right-radius: 50px;
    max-width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    gap : 20px;
}


@media  screen and (max-width: 1500px) {
    .jeux section{
        flex-direction: column;
    }
    img {
        margin: auto;
        min-width: 100%;
    }
    .jeux a{
      margin-left: 40%;
      margin-bottom: 50px;
    }
}

@media  screen and (min-width: 1500px) {
    .jeux a{
      margin-bottom: 40px;
    }
}

@media  screen and (max-width: 600px) {
    img{
        min-width: 100%;
        max-height: 400px;
        padding: 30px 0 30px 0;
    }
    .sect2{
        margin: 0px;
    }
    .sect{
        margin: 0px;
    }
    .jeux a{
        margin-left: 30%;
        margin-bottom: 50px;
      }
}

/* Couleur principale */
:root {
    --couleur-principale: #FF5733; /* Exemple de rouge vif */
}



/* Couleur de fond */
body {
    background-color: #F0F0F0; /* Gris clair pour le fond */
}

/* Styles des éléments */
.nav-top a {
    color: var(--couleur-accent-1); /* Utilisation de la couleur d'accent pour les liens */
}

.cat-facts {
    background-color: #D7C378; /* Couleur d'accent pour la section des faits sur les chats */
    padding: 50px 0;
    text-align: center;
    margin-top : 50px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.cat-facts h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #1B1B1B; /* Couleur de texte */
}

.fact-container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #1B1B1B; /* Couleur de texte */
}

button {
    background-color: #1B1B1B; /* Couleur de fond du bouton */
    color: #FFF; /* Couleur de texte du bouton */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000; /* Changement de couleur au survol */
}

.info {
    padding: 100px 0 100px 0;
    display: grid;
    grid-template-columns: 60px 60px 100px;
    gap : 80px;
    margin: auto;
}

.info div {
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}

.info div a {
    margin-top: 15px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    min-width: 100px;
    background-color: #000;
    color: white;
    transition-duration: 0.4s;

    &:hover{
        transform: scale(1.1);
        background-color: whitesmoke;
        color: #000;
        border: 0.5px solid rgba(0, 0, 0, 0.75);
    }
}

.info2 {
    padding: 100px 0 100px 0;
    display: grid;
    grid-template-columns: 60px 60px 100px;
    gap : 80px;
    margin: auto;
}

.info2 div {
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.info2 div a {
    margin-top: 15px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    min-width: 100px;
    background-color: #000;
    color: white;
    transition-duration: 0.4s;

    &:hover{
        transform: scale(1.1);
        background-color: whitesmoke;
        color: #000;
        border: 0.5px solid rgba(0, 0, 0, 0.75);
    }
}

@media  screen and (min-width: 600px) {
    .info{
      grid-template-columns: 100px 100px 100px;
    }
}
@media  screen and (min-width: 900px) {
    .info{
      grid-template-columns: 150px 150px 150px;
    }
}
@media  screen and (max-width: 900px) {
    .info2{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}
@media  screen and (min-width: 900px) {
    .info2{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}

@media  screen and (max-width: 800px) {
    header nav ul{
        display: grid;
        justify-content: center;
    }
}

.reverse {
    flex-direction: row-reverse;
}
