* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html  {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: white;
}


.liens {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.blog-infos a {
	cursor : pointer;
	position :relative;
	letter-spacing : 1px;
	margin-left : 20px;
	opacity : 0.6;
	transition-duration : 0.6s;	
	}
	
	.blog-infos a::after{
		content : '';
		position : absolute;
		transform-origin : bottom right;
		width : 100%;
		height : 0.080rem;
		bottom : 0;
		left : 0;
		background-color : black;
		transition:transform 0.5s ease-in-out;
		transform : scale(0,1);
	}
	.blog-infos a:hover::after {
		opacity : 1;
		transform: scale(1,1);
		transform-origin : bottom left;
	}

.titrenav {
letter-spacing: 2.5px;
position: relative;
padding-top: 30px;
    font-size: 2em;
    padding-left: 20px;
    color: black;
    font-weight: bold;
    transition-duration: 1s;
    &:hover {
        color: rgba(0, 0, 0, 0.7);
        transform: perspective(10px) rotateX(-0.5deg);
    
    }
}

.hamburger {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 20px;
    width: 30px;
    transition-duration: 0.5s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(1.1); /* Agrandissement au survol */
    }
}

/* Menu mobile */
@media screen and (max-width: 900px) {

    .hamburger {
        display: block;
    }

    .liens.mobile-menu {
    transform: translate(0,-200%);
    position: absolute;
    width: 100%;
    background-color:white;
    z-index: 999;
    transition: transform 0.5s ease-in-out; 
}

		.nav1 {
			padding-bottom : 50px;
		}
}

/* Menu mobile */
@media screen and (max-width: 900px) {
		
		.intro a {
			text-align: center;
		}
		
		.intro {
			flex-direction: column;
		}
		
		
		.intro img {
		padding-bottom: 10px;
		margin: 5% 5% 5% 10%;
		width: 100%;

}
}


footer {
		margin: auto;
  /*border-top: 1px solid red;*/
		border-bottom: 1px solid rgba(228,228,288,0.3);
		margin-top: 10px;
		padding-bottom: 20px;

    width: 95%;
    background-color: white;
    color: black;
    margin-bottom: 140px;
}



footer a {
	color: rgba(0,0,0,0.6);
	transition-duration: 1s;
		&:hover {
			opacity: 1;
			color: #82c46c;
		}
	
}

footer .titrenav {
	font-size: 2.5em;
	padding-top: 173px;
	text-align: center;
}


footer h3 {
	font-weight: 300;
	font-size: 2em;
	padding-bottom: 20px;
	padding-top:30px;
	color: black;
}

.liens2 {
	display: flex;
	flex-direction: column;
}


footer .liens2 a {
	padding: 5px 0px 5px 0px;
	font-size: 1.2em;
	
}

footer nav .ensemblefoot {
	text-align: center;
}

.intro {
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	border-top: 1px solid rgba(228,228,288,0.3);
	border-bottom: 1px solid rgba(228,228,288,0.3);
	display: flex;
	width: 80%;
	color: rgba(255,255,255,0.8);
	justify-content: center ;
	align-items: center;
}

.contenu {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
}

.intro-titre {
	    font-weight: 400;
	font-size: 36px;
	    font-family: 'Cormorant', sans-serif;
	    color: #e1b15d ;
}

.intro p {
	line-height: 24px;
}

.intro a {
	margin: auto;
	text-align: center;
	width: 30%;
	padding: 10px;
	color: white ;
	background-color: rgba(255,255,255,0.2);
	transition-duration: 0.7s;
	&:hover {
		background-color: #253627;
		color: #e1b15d;
		cursor: pointer;
	}
}

.star {
	padding-bottom: 80px;
	text-align: center;
	color: black;
}

.troll {
	margin: auto;
	width: 80%;
	text-align: center;
	margin-bottom: 50px;
}

.troll a {
	color: black;
	font-weight: bold;
	font-family: 'Cormorant', serif;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	background-color: #ffc465;
	text-align: center;
	transition-duration: 1s;
	&:hover {
		background-color: #ffeebb;
		transform: scaleX(0.8);

	}
}

.espace {
	height: 50px;
}

.margin30 {
	height: 30px;
}

@media screen and (min-width: 900px) {
		
		footer nav .titrenav {
			padding-top: 0;
			margin-right : 200px;
		}
		
		.ressource {
			margin: 0 150px 0 150px;
		}
		
		.ensemblefoot {
			display: flex;
		}
		
		footer nav {
			display: flex;
		}
	
		.intro .intro-titre {
			font-size:4em;
		}
		
		.nav1 .liens {
			font-size: 1.5em;
			flex-direction: row;
		}
	
    .intro img {
    	padding-bottom: 10px;
			margin: 5% 5% 5% 10%;
      width: 50%;
    }
    
    .intro a {
    	margin-bottom: 50px;
    }
    
    .perroquet {
    	margin-left: 40px;
    }
}

.milieu {
	display: none;
	margin: 200px 0 0 0;
	width: 100%;
	overflow: hidden;
}



.btn {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
}

.btn a{
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.6);
	transition-duration: 400ms;
	&:hover {
		background-color: rgba(255,255,255,1)
	}
}

@media screen and (max-width : 900px) {
	.btn a {
		padding: 10px;
		width: 1em;
		height: 1em;
	}
	
	.btn {
		column-ga : 2rem;
	}
	
}

@media screen and (min-width : 900px) {
	.milieu {
		margin-bottom: 100px;
		display: block;
	}
	
	.contenu-blog {
		margin-top: 30px;
	}
	
}
